/* styles.css */

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h3 {
    margin-bottom: 10px;
}

.product-card p {
    margin-bottom: 5px;
}

.product-card p:last-child {
    font-weight: bold;
}
