/* About.css */

.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
}

.about-heading {
    /* color: #007bff; */
    padding: 30px;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 70px;
    background-color: black;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
}

/* You can add more styles based on your design preferences */
